.Wrapper {
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding: 50px;
    /*color: white;*/
}

.Description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.FilmPreview {
    display: flex;
    gap: 50px;
}

.AdditionalInformation {
    display: flex;
    gap: 10px
}